<ui5-toolbar>
  <ui5-toolbar-button
    icon="decline"
    text="Reject">
  </ui5-toolbar-button>

  <ui5-toolbar-button
    icon="add"
    text="Add">
  </ui5-toolbar-button>

  <ui5-toolbar-button
    icon="employee"
    text="Add people">
  </ui5-toolbar-button>

  <ui5-toolbar-button
    icon="employee"
    text="Call me later">
  </ui5-toolbar-button>

  <ui5-toolbar-button
    icon="add"
    text="Add More">
  </ui5-toolbar-button>

  <ui5-toolbar-button
    icon="accept"
    text="Correct">
  </ui5-toolbar-button>
</ui5-toolbar>
